<div class="column is-one-fifth">
  <div class="card p-4">
    <p class="title is-5"><%= customer.full_name %></p>
    <figure class="card-image">
      <%= image_tag customer.image %>
    </figure>
    <div class="card-content">
      <p><%= customer.phone_num %></p>
      <p><%= customer.email %></p>
      <p><%= customer.notes %></p>
    </div>
  </div>
</div>
