<div class="tile is-parent">
  <div class="card p-4">
    <p class="title is-5"><%= customer.full_name %></p>
    <div class="card-image px-4">
      <figure class="image is-24by3">
        <%= image_tag customer.image %>
      </figure>
    </div>
    <div class="card-content">
      <div class="content">
        <p><%= customer.phone_num %></p>
        <p><%= customer.email %></p>
        <p><%= customer.notes %></p>
      </div>
    </div>
  </div>
</div>
